* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
html, body, #root {
  height: 100%;
}

button, input {
  outline: none;
  border: none; /* isteğe bağlı */
}


